.today {
  background: gray;
  color: white;
  font-weight: bold
}
 
.sunday {
  color: red
}

table{
    table-layout: fixed;
    width: 200px;
}

tr, td {
    overflow: hidden;
    width: 100%;
    height: 60px;
}
